<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript"  src="../../../../lib/js/jquery-2.1.0.min.js"></script>
    <title>mpd link overview</title>
  </head>
  <body>
    <h1> mpd link overview</h1>
    <table border="0" width="100%">
      <thead bgcolor="#fdf8e3">
        <tr>
	  <th align="center"><b>mpd</b></th>
          <th align="left">ssmp load</th>
          <th align="left">ssmp remove</th>
	  <th align="left">frame state</th>
	  <th align="left">frame elements</th>
	  <th align="left">ssmp exchange</th>
	  <th align="left">ssmp meta</th>
	  <th align="left">ssmp all</th>
          <th align="left">couchdb link</th>
        </tr>
      </thead>
      <tbody bgcolor="#fdf6e3">
        {{#mpds}}
        <tr>
	  <td><b>{{value}}</b></td>
          <td><button class="load" id='{{id}}'>load</button></td>
          <td><button class="remove" id='{{id}}'>remove</button></td>
	  <td><a target='_blank' title='frame/state'
                 href='http://localhost:8002/{{id}}/0/state/frame'>state</a></td>
	  <td><a target='_blank' title='frame/state'
                 href='http://localhost:8002/{{id}}/0/elements/frame'>elements</a></td>
          
          <td><a target='_blank' title='state'
                 href='http://localhost:8001/{{id}}/exchange'>exchange</a></td>
          <td><a target='_blank' title='state'
                 href='http://localhost:8001/{{id}}/meta'>meta</a></td>
          <td><a target='_blank' title='state'
                 href='http://localhost:8001/{{id}}'>all</a></td>
	  
	  <td><a target='_blank' title='{{display}}'
		 href='../../../../../_utils/document.html?vl_db/{{id}}'>{{value}}</a></td>
	</tr>
	{{/mpds}}
      </tbody>
    </table>
    <script>
      $( "button" ).click(function() {
      
      var $this = $(this)
      , id = $this.attr("id")
      , conf = {type: "PUT", url: "http://localhost:8001/" + id }

      if($this.hasClass("load")){
      conf.data = "load"
      }

      if($this.hasClass("remove")){
      conf.data = "remove"
      }
      $.ajax(conf);
      });
    </script>
  </body>
</html>